/*=====Переременные по сайту=====*/
:root {
    /*Шрифты*/
    --Roboto: Roboto, sans-serif;
    --Raleway: Raleway, sans-serif;

    /*общее*/
    --acent-color: #2196F3;/*использует logo; hover; focus; hero-bottom */
    
    /*шапка*/
    --acent-color: #2196F3;
    --black-color: #000000;
    --navigation-color: #212121;
    --contact-link: #757575;
    --border-line: 1px solid #ECECEC;
    --navigation-color-link: #212121;
    
    /*герой*/
    --hero-background-color: #C4C4C4;
    --hero-text-color: #fff;

    /*особенности*/
    --bgcolor-feature-icon: #F5F4FA;
    --feature-text-color: #757575;
    --reature-head-color: #212121;

    /*чем мы занимаемся*/
    --head-color: #212121;
    --item-bgcolor: #757575;
    
    /*наша команда*/
    --bgcolor-section-our-team: #F5F4FA;
    --head-color: #212121;
    --card-text: #757575;
}
/*===============================*/

/*=====глобальный сброс=====*/
ul,li,p,figure,figcaption,h1,h2,h3,p{
    margin: 0px;
    padding: 0px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    
}
/*====СКРЫВАЕМ ОГЛАВЛЕНИЯ СЕКЦИЙ====*/
.header-section{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/*=====техническая обводка=====*/
/*==== outline: 1px green; ====*/

/*=============================*/

.mani-pag {
    width: 1700px;
    margin-left: auto;
    margin-right: auto;
}
/*=====ШАПКА=====*/
.heder {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: var(--border-line);
    
}
.heder-section {
    display: flex;
    padding-left: 215px;
    padding-right: 215px;
}
/*===ЛОГОТИП===*/
.logo {

    margin: 24px 93px 25px 0;
}
/*левая сторона*/
.logo-left {
    font-family: var(--Raleway);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;

    letter-spacing: 0.03em;
    color: var(--acent-color);
}
/*правая сторона*/
.logo-right {
    font-family: var(--Raleway);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;

    letter-spacing: 0.03em;
    color: var(--black-color);
}
/*===ГЛАВНАЯ НАВИГАЦИЯ===*/
.maine-navigation {
    /*background-color: yellow;*/
    padding: 32px 0 32px 0;
    margin: 0 305px 0 0;
}
/*список навигации*/
.navigation-list {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;

    display: flex;
}
/*элементы навигации*/
.navigation-item:not(:last-child) {
    margin-right: 50px;
}
/*сылки навигации*/
.navigation-link {
    color: var(--navigation-color-link);
}
.navigation-link:hover,
.navigation-link:focus {
    color: var(--acent-color);
}
/*===ССЫЛКИ КОНТАКТЫ===*/
.address {
    display: flex;
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;

    padding: 32px 0 32px 0;

}
/*ссылка почта*/
.contact-link-mail {
    display: inline-flex;
    align-items: center;
    color: var(--contact-link);
    margin-right: 30px;
}
.ico-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    background-color: var(--contact-link);
}
.contact-link-mail:hover,
.contact-link-mail:focus {
    color: var(--acent-color);
}
/*ссылка телефон*/
.contact-link-telephon{
    display: inline-flex;
    align-items: center;
    color: var(--contact-link);
}
.contact-link-telephon::before {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    content: '';
    background-image: url('../svg/icon.svg#Vector');

}
/*.ico-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    background-image: url('../svg/icon.svg#Vector');
}*/
.contact-link-telephon:hover,
.contact-link-telephon:focus {
    color: var(--acent-color);
}
/*###########################################################*/

/*=====ГЛАВНЫЙ КОНТЕНТ=====*/

/*====ГЕРОЙ===*/

/*контейнер героя*/
.conteiner-hero {
    min-width: 1600px;
    min-height: 600px;
    /*background-color: var(--hero-background-color);*/
}
/*оформление секции герой и фона*/
.hero {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    background-color: var(--hero-background-color);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/main/hero_background/background.jpg");
}
/*оглавление георя*/
/*оглавление секции*/
/*смотри строка №29 */

/*слоган*/
.hero-text {
    width: 696px;
    min-height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.363;
    letter-spacing: 0.06em;

    text-align: center;
    text-transform: uppercase;
    color: var(--hero-text-color);

}
/*кнопка*/
.hero-bottom {
    padding: 0;
    width: 200px;
    min-height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    background-color: var(--acent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
/*текст кнопки*/
.hero-bottom-text {
    font-family: var(--maine-font);
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    color: var(--hero-text-color);
    letter-spacing: 0.06em;
}

/*===ОСОБЕННОСТИ===*/

/*контейнер секции особнности*/
.conteiner-features {
    margin-top: 94px;
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
}
/*секция особенности*/
.features {
    width: 1170px;
    min-height: 251px;
    margin: 0 auto 0 auto;
}
/*оглавление особенности*/
/*оглавление секции*/
/*смотри строка №29 */

/*список особенностей*/
.features-list {
    display: flex;
}
/*элементы списка*/
.features-item {
    max-width: 270px;   
}
.indent {
    margin-right: 30px;
}
.features-item::before {
    content: "";
    display: block;
    height: 120px;
    border: none;
    border-radius: 4px;
    background-color: var(--bgcolor-feature-icon);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
/*иконки элемента*/
.icon-antenna::before {
    background-image: url('../svg/features/antenna.svg');
}
.icon-astronaut::before {
    background-image: url('../svg/features/astronaut.svg');
}
.icon-clock::before {
    background-image: url('../svg/features/clock.svg');
}
.icon-diagram::before {
    background-image: url('../svg/features/diagram.svg');
}
/*шапка элемента*/
.features-head {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--reature-head-color);

    margin-top: 30px;
}
/*текст элемента*/
.fearures-text {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;

    color: var(--feature-text-color);

    margin-top: 10px;
}

/*===Чем мы занимаемся===*/
/*контейнер чем мы занимаемся*/
.conteiner-wedo {
    max-width: 1700px;
    margin: 94px auto 0 auto;

}
/*секция чем мы занимаеся*/
.wedo {
    width: 1600px;
    min-height: 386px;
    margin: 0 auto 0 auto;
}
/*оглавление секции*/
.header-wedo {
    margin: 0 auto 50px auto;
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--head-color);
}
/*список секции*/
.wedo-list {
    list-style: none;
    width: 1170px;
    margin: 0 auto 0 auto;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
/*элемент списка*/
.wedo-item {
    width: 370px;
    height: 294px;
    background-color: var(--item-bgcolor);
}

/*===наша команда===*/

/*контейнер наша команда*/
.conteiner-our-team {
    max-width: 1700px;
    margin: 94px auto 0 auto;
}
/*секция наша команда*/
.our-team {
    width: 1600px;
    min-height: 708px;
    margin: 0 auto 0 auto;
    padding: 94px 215px 0 215px;
    background-color: var(--bgcolor-section-our-team);
}
/*оглавление секции*/
.header-our-team {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--head-color);
}
/*список наша команда*/
.list-our-team {
    margin-top: 50px;
    display: flex;
}
/*элемент списка*/
.item-list-our-team:not(:last-child) {
    margin-right: 30px;
}
/*карточка*/
.card {
    width: 270px;
    height: 428px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.card-caption {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.card-header {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;

    color: var(--head-color);
}
.card-text {
    font-family: var(--Roboto);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--card-text);
}
/*иконки карточке соц. ситей*/
.card-social-icon {
    display: flex;
    width: 206px;
    height: 44px;
    margin: 0 auto 0 auto;
}
.social-icon {
    width: 44px;
    height: 44px;
    padding: 12px;
    margin-right: 10px;
}
.facebook {
    width: 20px;
    height: 20px;
}
.instagram {
    width: 20px;
    height: 20px;

}
.linkedin {
    width: 20px;
    height: 20px;
}
.twitter {
    width: 20px;
    height: 20px;
} 

/*=========================*/

/*=====ПОДВАЛ=====*/

/*================*/



